## 01 - Introdução

O objetivo deste material é conduzir o aluno no primeiro experimento com a leitura dos dados usando Pandas e na criação de regras induzidas a partir de raciocínio.

In [ ]:
# lembre-se de fazer o upload do arquivo iris.csv antes de executar as células

import pandas as pd
iris = pd.read_csv('iris.csv')

In [ ]:
# para visualizar o formato do dataset, use o comando a seguir
print(iris.shape)

(150, 5)

In [ ]:
# para visualizar as estatísticas básicas do dataset, use o comando a seguir
iris.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count          150.000000      150.000000          150.000000      150.000000
mean             5.843333        3.054000            3.758667        1.198667
std              0.828066        0.433594            1.764420        0.763161
min              4.300000        2.000000            1.000000        0.100000
25%              5.100000        2.800000            1.600000        0.300000
50%              5.800000        3.000000            4.350000        1.300000
75%              6.400000        3.300000            5.100000        1.800000
max              7.900000        4.400000            6.900000        2.500000

In [ ]:
# para visualizar o nome das colunas do dataset, use o comando a seguir
print(iris.columns)

Index(['comprimento_sepala', 'largura_sepala', 'comprimento_petala',
       'largura_petala', 'classe'],
      dtype='object')

In [ ]:
# para visualizar a coluna classe, use o comando a seguir
print(iris.classe)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: classe, Length: 150, dtype: object

In [ ]:
# para visualizar o primeiro registro, use o comando a seguir
iris.values[0]

array([5.1, 3.5, 1.4, 0.2, 'Iris-setosa'], dtype=object)

### Classificação

Vamos encontrar uma ou mais regras para identificar as espécies das flores e validar se a regra está funcionando bem.

In [ ]:
# primeiro, vamos criar uma coluna para colocar nossas respostas das regras

iris['predicao'] = ''
print(iris.shape)

(150, 6)

In [ ]:
# adapte ou adicione novas regras, e execute novamente essa célula

iris['predicao'][iris['comprimento_petala'] > 4] = 'Iris-setosa'

iris['predicao'][(iris['comprimento_petala'] > 1) & 
                 (iris['comprimento_sepala'] < 3)] = 'Iris-versicolor'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# as seguintes instruções verificam quantos acertos foram obtidos com as regras

print("Acurácia Geral")
(iris['classe'] == iris['predicao']).sum() / len(iris)

for classe in list(iris['classe'].unique()):

  print("Acurácia da classe", classe)
  aux = iris[iris['classe'] == classe]
  print((aux['classe'] == aux['predicao']).sum() / len(aux))

Acurácia Geral
Acurácia da classe Iris-setosa
0.98
Acurácia da classe Iris-versicolor
0.0
Acurácia da classe Iris-virginica
0.0

### Avaliando os dados por classe para entender as distribuições

In [ ]:
# avaliando o conjunto Iris-setosa

setosa = iris[iris['classe'] == 'Iris-setosa']
setosa.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count            50.00000       50.000000           50.000000        50.00000
mean              5.00600        3.418000            1.464000         0.24400
std               0.35249        0.381024            0.173511         0.10721
min               4.30000        2.300000            1.000000         0.10000
25%               4.80000        3.125000            1.400000         0.20000
50%               5.00000        3.400000            1.500000         0.20000
75%               5.20000        3.675000            1.575000         0.30000
max               5.80000        4.400000            1.900000         0.60000

In [ ]:
# avaliando o conjunto Iris-virginica

virginica = iris[iris['classe'] == 'Iris-virginica']
virginica.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count            50.00000       50.000000           50.000000        50.00000
mean              6.58800        2.974000            5.552000         2.02600
std               0.63588        0.322497            0.551895         0.27465
min               4.90000        2.200000            4.500000         1.40000
25%               6.22500        2.800000            5.100000         1.80000
50%               6.50000        3.000000            5.550000         2.00000
75%               6.90000        3.175000            5.875000         2.30000
max               7.90000        3.800000            6.900000         2.50000

In [ ]:
# avaliando o conjunto Iris-versicolor

versicolor = iris[iris['classe'] == 'Iris-versicolor']
versicolor.describe()

       comprimento_sepala  largura_sepala  comprimento_petala  largura_petala
count           50.000000       50.000000           50.000000       50.000000
mean             5.936000        2.770000            4.260000        1.326000
std              0.516171        0.313798            0.469911        0.197753
min              4.900000        2.000000            3.000000        1.000000
25%              5.600000        2.525000            4.000000        1.200000
50%              5.900000        2.800000            4.350000        1.300000
75%              6.300000        3.000000            4.600000        1.500000
max              7.000000        3.400000            5.100000        1.800000

### Exercício 1

Utilize como referência os códigos das células anteriores para criar as regras e avaliar a acurácia do modelo criado por vocês. Nosso objetivo é atingir mais de 60% de acurácia geral.

1.   Lembre de limpar a coluna predição;
2.   Monte a regra igual apresentado;
3.   Depois utilize o código para avaliar a acurácia.